body{
  margin: 0;
}
#app {
  display: flex;
  justify-content: space-between;
  margin: 0;
}


svg {
  background-color: rgb(234, 236, 236);
}

#info-box {
  background-color: rgb(178, 189, 189);
  width: 33%;
  min-height: 100vh;
  padding: 20px;
  margin: 0;
}

#info-box h2 {
  margin-top: 0;
}